@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.titleBan{
background: linear-gradient(60deg, #ff8000, #ff8000 50%, #7b1fa2 50%, #7b1fa2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: sans-serif, Montserrat;
}

.row {
  display: flex;
  justify-content: center;
}

.cardHighlight{
  margin-top: 2rem;
  padding: 5px;
  margin-left: 3rem;
  min-height: 100%;
  display: inline-block;
  width: 80%;
  margin-right: 2%;
  margin-bottom: 2%;
   outline: 1px solid black;
}

@media (max-width: 768px) {
  .cardHighlight {
    width: 100%;
    margin-right: 0;
  }
}

.pagetitle{
  font-family: sans serif, Myriad Pro;
}

.notfound{
  text-decoration: none;
}





.buttonHome {
  margin-top: 30px !important;
  width: 50%;
  padding: 10px;
  background-color: #141414;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}



.buttonHome:hover {
  background-color: #282828;
}

Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.navbar-container {
  background-color: #f8f9fa;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="%23343a40" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-link {
  font-size: 1.125rem;
  color: #343a40;
  text-decoration: none;
}

.nav-link:hover {
  color: #282828;
}

.formReg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.formGrpReg {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.frmTxt {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.formCntrl {
    border: none;
    background-color: #eaeaea;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.butReg{
  margin-top: 30px !important;
  width: 50%;
  padding: 10px;
  background-color: rgb(15 117 108 / 50%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#butReg:disabled {
  margin-top: 30px !important;
  width: 50%;
  padding: 10px;
  background-color: #141414;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
    opacity: 0.5;
    cursor: not-allowed;
}



/* Login */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  margin: auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-container label {
  font-size: 1rem;
  color: black;
}

.form-container input {
  font-size: 1rem;
  color: #009c8a;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.form-container button {
  font-size: 1rem;
  color: #fff;
  background-color: #00b8a9;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: 100%;
}

.form-container button:disabled {
  background-color: rgba(0, 184, 169, 0.5);
}

.form-container button:focus {
  outline: none;
}

.form-container button:hover {
  background-color: #009c8a;
}

.frmLg{
  color: black;
}

/* Login */
